
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #CED6F0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* 490 x 600 mide el contenedor con todo */
.contenedor {
    background-color: #FFFFFF;
    width: 490px;
    padding: 30px 40px;
    border-radius: 10px;
    color: black;
}

.contenedor .header {
    position: relative;
    width: 100%;
    height: 210px;
    border-bottom: 1px solid rgb(193, 206, 237);
    margin: 20px 0px 20px 0px;
}

.header h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

.header img {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 92px;
    top: -20px;
    rotate: 25deg;
}

.header h2 {
    font-weight: 700;
    font-size: 26px;
    margin: 10px 0px;
}

.header p {
    font-size: 14px;
}

.contenedor .input-box {
    display: flex;
    flex-direction: column;
    height: 80px;
}

.input-box label {
    font-weight: 600;
    margin: 10px 0px;
}

.input-box input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid rgb(193, 206, 237);
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 10px;
}

.contenedor .btn {
    width: 100%;
    height: 45px;
    background-color: #367bf5;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #FFFFFF;
    margin: 20px 0px;
}

.contenedor .register-link {
    text-align: center;
    font-size: 12px;
    margin: 10px 0px 15px 0px;
}

.contenedor .register-link p a {
    color: black;
}

.contenedor .register-link p a:hover {
    text-decoration: underline;
}